DB_HOST = "your_database_host"
DB_NAME = "postgres"
DB_USER = "your_database_user"
DB_PASSWORD = "your_database_password"
DB_PORT = "5432"

APP_TIMEZONE = "Asia/Singapore"
SPOTIFY_PROFILE_URL = "https://open.spotify.com/user/your_username"
